[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
